@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
body {
    background:url(https://media.discordapp.net/attachments/855414287274213417/855688804530651136/background3.png?width=912&height=513);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}
.capa {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(77, 77, 77, 0.4);
    z-index: -1;
    top: 0;
    left: 0;
}
.capa-2 {
    width: 300px;
    height: 320px;
    position: absolute;
    background: url(https://media.tenor.com/images/7c710dc1dec72ef3efe541b869718302/tenor.gif);
    background-repeat: no-repeat;
    background-size: 250px;

    top: 180px;
    left: 1200px;
}
.titleabout {
    width: 900px;
    height: 30px;;
    position: absolute;
    top: 95px;
    left: 195px;
    font-size: 75px;
    color: rgb(218, 237, 238);
}
.ask1 {
    width: 900px;
    height: 30px;;
    text-decoration: underline;
    position: absolute;
    top: 250px;
    left: 195px;
    font-size: 33px;
    color: wheat;
}
.ask2 {
    width: 900px;
    height: 30px;;
    text-decoration: underline;
    position: absolute;
    top: 500px;
    left: 195px;
    font-size: 33px;
    color: wheat;
}
.answer1 {
    width: 900px;
    height: 30px;
    position: absolute;
    top: 320px;
    left: 195px;
    font-size: 33px;
    color: rgb(255, 249, 239);
}
.answer2 {
    width: 900px;
    height: 30px;
    position: absolute;
    top: 570px;
    left: 195px;
    font-size: 33px;
    color: rgb(255, 249, 239);
}
.header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.container .btn-menu, .logo {
    float: left;
    line-height: 70px;
}
.container .btn-menu label {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
.logo h1 {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
}
.container .menu {
    float: right;
    line-height: 70px;
}
.container .menu a{
    display: inline-block;
    padding: 15px 10px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
}
.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding: 5px 10px;
}